{deps, [
  {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid", {branch, "master"}}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}},
{lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}}]}.

{erl_opts, [{parse_transform, lager_transform},
            fail_on_warning,
            debug_info
           ]}.